.blogs-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.Heading{
    text-align: center;
    margin: 40px auto;
    padding: 10px 5px;
    background-color: rgb(193, 241, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}